{% load static%}
<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ogani Template">
    <meta name="keywords" content="Ogani, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Ogani | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;600;900&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    {%  include 'Ogani/CssStyles.html' %}
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Humberger Begin -->
    {% include 'Ogani/Humberger.html' %}
    <!-- Humberger End -->

    <!-- Header Section Begin -->
   {% include 'Ogani/HeaderSection.html' %}    
    <!-- Header Section End -->

    <!-- Hero Section Begin -->
    {% include 'Ogani/HeroSection.html' %}  
    <!-- Hero Section End -->

    <!-- Categories Section Begin -->
    {% include 'Ogani/CategoriesSection.html' %}  
    <!-- Categories Section End -->

    <!-- Featured Section Begin -->
    {% include 'Ogani/FeaturedSection.html' %}  
    <!-- Featured Section End -->

    <!-- Latest Product Section Begin -->
    {% include 'Ogani/LatestProductSection.html' %}  
    <!-- Latest Product Section End -->

    <!-- Blog Section Begin -->
    {% include 'Ogani/BlogSection.html' %}  
    <!-- Blog Section End -->

    <!-- Footer Section Begin -->
    {% include 'Ogani/FooterSection.html' %}  
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    {% include 'Ogani/JsPlugins.html' %}



</body>

</html>